doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    script(src='/javascript/trelloFlash.js') 
  body
    #wrap
        #content
    input(type='text', name = 'newWord', id='keywordTextBox', autocomplete = "off", placeholder ='Search')
        #results